* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: $h1Size;
  line-height: $h1Size;
}

h2 {
  font-size: $h2Size;
  line-height: $h2Size;
}

h3 {
  font-size: $h3Size;
  line-height: $h3LineHeight;
}

p {
  font-size: $pSize;
  line-height: $pLineHeight;
  font-family: inherit;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: inherit;
  font-weight: 700;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
