.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1020px;
  width: 100%;
  cursor: pointer;

  &__title {
    width: 324px;
    height: 145px;
    letter-spacing: -1.5px;
  }
  &__link {
    color: $blue;
  }

  &__article {
    width: 498px;
  }

  &__article-title {
    color: $blue;
    margin-bottom: 16px;
  }

  &__article-paragraf {
    font-size: 16px;
    font-weight: normal;
  }
}

@media(max-width: 700px) {
  .about {
    flex-direction: column;

    &__title {
      width: 100%;
      margin-bottom: 48px;
      &__text {
        width: 100%;
      }
    }
  }
    
  @media (max-width: 550px) {
    .about {
      &__title {
        font-size: 36px;
        line-height: 36px;
      }
    }
  }
}
