.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 359px;
  padding-bottom: 35px;
  background-image: url(../images/footer.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;

  &__logo {
    width: 130.35px;
    height: 75.77px;
    left: 2.15%;
    right: 2%;
    top: 1.87%;
    bottom: 3.41%;
  }
}

@media (max-width: 550px) {
  .footer {
    height: 206px;
    padding-bottom: 25px;

    & :first-child {
      width: 78.6px;
      height: 45.46px;
    }
  }
}
