.testimonials {
  width: 100%;
  max-width: 1020px;

  &__humans {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    margin-top: 59px;
  }

  &__persone {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 324px;
  }

  &__photo {
    width: 150px;
    height: 150px;
    text-align: center;

    margin-bottom: 32px;
    border-radius: 50%;
  }

  &__name {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0;
    color: $blue;
  }

  &__rang {
    margin-top: 4px;
    margin-bottom: 13px;
    font-size: 14px;
    line-height: 27px;
    font-family: inherit;
    font-weight: 400;
    color: #9fadc2;
  }

  &__inscription {
    text-align: center;
  }
}

@media (max-width: 750px) {
  .testimonials {
    &__humans {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 48px;
    }
  }
}
@media (max-width: 550px) {
  .testimonials {
    &__humans {
      margin-top: 32px;
    }

    &__photo {
      flex-direction: column;
      width: 153px;
      height: 153px;
      margin-bottom: 28px;
    }

    &__role {
      margin: 4px 0;
    }
  }
}
